@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); /* font-family: 'Anton', sans-serif; */

body{
    margin: 4rem;
    padding: 8px;
    color: gold;
    font-family: arial, sans-serif;  
    background:linear-gradient(-45deg, #0f0594, #2307ae, #331aee, #1cc354,#0f0594,#331aee,#2307ae);
    background-size: 1000% 1000%;
    animation: backgroundTransition ease-in-out 12s infinite;
}
a{
    text-decoration: none;
}
/*Header*/

.header-wrapper {
    height: 80vh;
    width: 90%;
    /*background: linear-gradient(-45deg, #0f0594, #2307ae, #331aee, #1cc354,#0f0594,#331aee,#2307ae);*/
    background-size: 1010% 1010%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: backgroundTransition ease-in-out 12s infinite;
    position: relative;
    border: 2px solid gold;
    margin: 0  auto;
}

.header-wrapper h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    align-items: center;
}

.header-wrapper h2{
    letter-spacing: 2px;
}
.projects{
    margin-top:2rem;
    display:flex;
}
.projects a{
    text-decoration:none;
    color: whitesmoke;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid gold;
    border-radius: 10px;
    padding: 1rem 1rem 1rem;
    min-width: 5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: 2.5s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.projects a:hover{
    color:rgb(3, 46, 235);
    background-color: gold;
}

@keyframes backgroundTransition {
    0% {
        background-position:  100% 50%;
    }
}

/*checkbox*/

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    top:0;
    right:0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 99999;
    transition: .8s ease-in-out 0s;
}
.checkbox-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.checkbox .trace{
    width: 50px;
    height: 2px;
    background-color: white;
    position:absolute;
    border-radius: 4px;
    transition: .8s ease-in-out 0s;
}

.checkbox .trace:nth-child(1){
    top:28px;
}

.checkbox .trace:nth-child(2){
    top: 48px;
}

.checkbox .trace:nth-child(3){
    top: 68px;
}

#toggle {
    display: none;
}

/* Menu */

.menu{
    position:absolute;
    top: 28px;
    right: 30px;
    background: transparent;
    height:40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px white;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a{
    margin: 10px 0;
    color: #2E1C2B;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

/* ANIMAÇÃO MENU */

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    background-color: #2E1C2B;
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform:  translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #2E1C2B;
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color: white;
}

#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax white;
    z-index: 1;
}

#toggle:checked ~ .menu-items{
    visibility: visible;
    opacity: 1;
}

/*CONTAINER*/

.container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:4rem auto;
    background-color: rgb(255, 255, 255);
    }

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 0 3rem
}

.card-text {
    width: 50%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.data-science, .power-bi, .dev{
    height: 270px;
    width: 380px;
    margin: 3rem 0 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.68);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.data-science{
    background-image: url('/assets/images/datascience.jpg');
}

.power-bi{
    background-image: url('/assets/images/power-bi.jpg'); 
}

.dev{
    background-image: url('/assets/images/dev.jpg');
}

.card-text {
    width: 40%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

/*cards wrapper*/

.data-science-wrapper, .power-bi-wrapper, .dev-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.dev-wrapper::before, .data-science-wrapper::before, .power-bi-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.3s;
}


.data-science-wrapper h2, .power-bi-wrapper h2, .dev-wrapper h2 {
    font-size: 28px;
    color:rgb(154, 39, 143);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 30px;
    transition: 0.3s;
}

.data-science-wrapper p, .power-bi-wrapper p, .dev-wrapper p{
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.dev:hover,.data-science:hover,.power-bi:hover{
    filter: unset;
}

.dev:hover > .dev-wrapper::before,
.power-bi:hover > .power-bi-wrapper::before,
.data-science:hover > .data-science-wrapper::before{
    height: 200px;
    width: 300px;
    opacity: 1;

}

.dev:hover > .dev-wrapper p,
.power-bi:hover > .power-bi-wrapper p,
.data-science:hover > .data-science-wrapper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mobile */

@media (max-width: 800px) {
    .social-media {
        display: flex;
        flex-direction: column;
    }

    .container {
        margin-top: 0;
    }

    .card-container {
        flex-direction: column;
    }

    .container .card-container:nth-child(1),
    .container .card-container:nth-child(3) {
        flex-direction: column-reverse;
    }

    .card {
        height: 250px;
        width: 250px;
    }

    .card-text {
        width: 90%;
        margin-top: 2rem;
        text-align: center;
    }

    .card:hover > .card-wrapper::before {
        height: 190px;
        width: 190px;
    }
}